// --------------- 01 TYPOGRAPHY SYSTEM ---------------
//FONT FAMILY
$font-family: "Roboto", sans-serif;

//FONT SIZE
$font-size-body1: 1.4rem;
$font-size-body2: 1.2rem;

$font-size-h1: 3.2rem;
$font-size-h2: 2.8rem;
$font-size-h3: 2.2rem;
$font-size-h4: 1.8rem;

//COMP. SIZE
$drawer-width: 25rem;
$side-panel-width: 40rem;

//FONT WEIGHTS
//- Light: 300;
//- Regular: 400;
//- Bold: 700;

//FONT HEIGHTS
// default: 1

// LETTER SPACING

//F --------------- 02 COLORS ---------------
$grey-10: #efeeee;
$grey-100: #abb0b5;
$grey-200: #6d6f72;
$grey-300: #38343b;
$grey-400: #333333;
$grey-500: #2b282f;
$grey-600: #1c1a21;

$bg-color-lighter: $grey-500;
$bg-color: $grey-600;

$font-color: $grey-10;
$font-color-dark: $grey-100;
$font-color-darker: $grey-200;

// --------------- 03 SHADOWS ---------------

// --------------- 04 BORDER-RADIUS ---------------

// --------------- 05 GRID ---------------
