// --------------- 01 TYPOGRAPHY SYSTEM ---------------
//FONT FAMILY
$font-family: "Roboto", sans-serif;

//FONT SIZE
$font-size-body1: 1.4rem;
$font-size-body2: 1.2rem;

//FONT WEIGHTS
//- Light: 300;
//- Regular: 400;
//- Bold: 700;

//FONT HEIGHTS
// default: 1

// LETTER SPACING

// --------------- 02 COLORS ---------------

// --------------- 03 SHADOWS ---------------

// --------------- 04 BORDER-RADIUS ---------------

// --------------- 05 GRID ---------------
