.container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.header {
  &-container {
    display: flex;
    flex-direction: column;
  }
  &-name {
    font-size: $font-size-h1;
  }
  &-desc {
    color: $font-color-darker;
  }
}

.today {
  &-title {
    font-size: $font-size-h4;
    color: $font-color-dark;
  }
}

.recent {
  &-title {
    font-size: $font-size-h4;
    color: $font-color-dark;
  }
}
