.container {
  display: flex;
}

.main {
  background: $bg-color;
  z-index: 0;
  width: calc(100% - $drawer-width);
  margin-left: $drawer-width;
  height: 100vh;
  overflow-y: auto;
  padding: 6rem;
}
