.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  cursor: pointer;
}

.container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: $side-panel-width;
  background-color: $bg-color-lighter;
  box-shadow: 0px 0px 100px 50px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  padding: 4rem 0rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include responsive(tab-port) {
    justify-content: start;
    gap: 40px;
  }

  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  &.left {
    left: 0;
    animation-name: show-left;
  }

  &.right {
    right: 0;
    animation-name: show-right;
  }

  &-hide--left {
    animation-name: hide-left;
  }
  &-hide--right {
    animation-name: hide-right;
  }
}

@keyframes show-left {
  from {
    left: -$side-panel-width;
  }
  to {
    left: 0;
  }
}

@keyframes hide-left {
  from {
    left: 0;
  }
  to {
    left: -$side-panel-width;
  }
}

@keyframes show-right {
  from {
    right: -$side-panel-width;
  }
  to {
    right: 0;
  }
}

@keyframes hide-right {
  from {
    right: 0;
  }
  to {
    right: -$side-panel-width;
  }
}
