.search {
  width: 250px;
}

.filter {
  &-container {
    display: flex;
    gap: 6rem;
    width: max-content;

    span {
      color: $grey-200;
      cursor: pointer;
      transition: 0.3s all;

      &.active {
        color: $font-color;
      }

      &:hover {
        color: $font-color;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  &-title {
    display: flex;
    gap: 10px;
  }
}
.list {
  display: flex;
  gap: 1rem;
  padding-right: 2rem;
  flex-wrap: wrap;
}
