.h1 {
  font-size: $font-size-h1;
}

.h2 {
  font-size: $font-size-h2;
}

.h3 {
  font-size: $font-size-h3;
}

.h4 {
  font-size: $font-size-h4;
}

.body1 {
  font-size: $font-size-body1;
}

.body2 {
  font-size: $font-size-body2;
}

.body3 {
  font-size: $font-size-body3;
}
